.proyectos {
    padding: 4rem 2rem;
  }
  
  .proyectos-titulo {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .proyectos-title {
    font-size: 2.5rem;
    color: #222;
    border-bottom: 3px solid #000000;
    display: inline-block;
    padding-bottom: 0.5rem;
  }
  
  .proyectos-subtitulo {
    font-size: 1.2rem;
    color: #424242;
    margin-top: 0.7rem;
  }
  
  .mis-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    padding-top: 20px;
  }
  
  @media (max-width: 768px) {
    .proyectos {
      padding: 2rem 1rem;
    }
  
    .proyectos-title {
      font-size: 2rem;
    }
  
    .proyectos-subtitulo {
      font-size: 1rem;
    }
  
    .mis-proyectos {
      gap: 2rem;
      padding-top: 10px;
    }
  }
  